*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inline{
    display: inline;
}

.D_flex{
    display: flex;
    align-items: center;
}


li{
    list-style-type: none;
}

h2,
h5{
    margin: 20px 20px;
}

/*Text*/

.grey{
    color: grey;
}

.white{
    color: white;
}

/*Generali*/

button{
    padding: 7px 20px;
    border-radius: 20px;
    background-color: #090B11;
    margin-right:20px;
}

/*--------------------------------------------------------------*/
/*Body*/


.wrapper{
    height: 100vh;
}



/*Barra sx*/

.barra_sx{
    width: 20%;
    /*DEBUG*/
    background-color: #000000;
}

#logo{
    max-width: 70%;
    padding: 20px;
}

/*--------------------------------------------------------------*/
/*Main*/

.contenitore_main{
    display: flex;

    /*DEBUG*/
    background-color: #2f3b50;
}

.contenuto_main{
    display: flex;
    flex-direction: column;

    background-color: #141922;
    width: 90%;
}

.contenuto{
    height: calc(100vh - 70px);
    overflow-y: auto;
    background-color: #141922;
}

.contenuto nav{
    display: flex;
    justify-content: center;
}

.contenuto nav li{
    margin: 20px 10px;
}

.banner{
    display: flex;
    justify-content: end;
    align-items: center;

    height: 70px;
    width: 100%;
    background-color: #090B11;
}

.card{
    display: flex;
    flex-direction: column;

    width: 12%;
    margin: 10px 20px;
}

.circle{
    border-radius: 100px;
}

figure img{
    max-width:100%
}

figcaption{
    text-align: center;
    padding: 10px 0px;
    line-height: 20px;
}

.contenuto_over{
    display: flex;
    flex-wrap: wrap;
}

/*--------------------------------------------------------------*/
/*Footer*/

footer{
    height: 70px;
    background-color: #282828;
}

.contenitore_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contenitore_footer div img{
    margin: 15px;
    width: 40px;
}

.contenitore_footer div h5{
    margin: 0%;
}

.icon{
    margin-left: 80px;
}

.contenitore_footer div i{
    margin-left: 10px;
}

.player{
    width: 300px;
    border-radius: 20px;
    height: 3px;
    background-color: rgb(115, 115, 115);
    margin-top: 15px;
}

.small{
    width: 100px;
    margin: 0 10px;

}

.center{
    text-align: center;
}

/*--------------------------------------------------------------*/
/*Responsive*/

/*Tablet*/

/*Smartphone*/