/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

time{
    font-size: 10px;
}

.inline{
    display: inline;
}

a{
    text-decoration: none;
    color: grey;
}

.D_flex{
    display: flex;
    align-items: center;
}

li{
    list-style-type: none;
}

.pointer li span{
    cursor: pointer;
}

/*Titoli*/

h4{
    margin-bottom: 10px;
}

h2,
h5{
    margin: 20px 20px;
}

/*Text*/

.grey{
    color: grey;
}

.white{
    color: white;
}

/*button*/

button{
    padding: 7px 20px;
    border-radius: 20px;
    background-color: #090B11;
    margin-right:20px;
}


/*****************************************************************/
/*hover*/

.scale:hover{
    cursor: pointer;
    transform:scale(1.1);
}

.hover_li li a:hover,
.hover_li li span a:hover
{
    cursor: pointer;
    color: white;
}

.hover:hover{
    cursor: pointer;
    color: white;
}

.hover_sub:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.green:hover,
.green_small:hover{
    cursor: pointer;
    background-color: green;
}

.hover_play{
    display: none;
    position: absolute;

    width: 100%;
    height: 62%;
    background-color: #6d707590;
}

.hover_play_small{
    height: 80%;
}

.hover_play_circle{
    border-radius: 100%;
    height: 80%;
}

.hover_play img{
    margin: 25%;
    width: 50%;
    height: 50%;
}

.card:hover .hover_play{
    display:block;
}


.Onclick{
  color: green;
  height: 3px;
  background: green;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

/*--------------------------------------------------------------*/
/*Body*/

body{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.wrapper{
    height: calc(100vh - 70px);
}

/*Barra sx*/

.barra_sx{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 13px;
    width: 210px;
    /*DEBUG*/
    background-color: #000000;
}

#logo{
    max-width: 60%;
    margin: 15px auto auto 10px;
}

#logo_small{
    display: none;
}
.barra_sx div ul li img{
    width: 10%;
    margin-right: 5px 
}

.barra_sx div ul{
    padding:10px;
}

.margin_top_list li{
    margin-top: 6px;
}

.barra_sx div{
    padding:2px 10px;
}

.big_icon{
    font-size:  30px;
}

.installa_app {
    margin-top:  90px;
  }

.installa_app span i{
    margin: 0px 10px 10px 0;
}

.installa_app div img{
    background-color: grey;
    border-radius: 100%;
    margin-top: 10px;
    width: 20px;
}

.installa_app div{
    margin-bottom: 10px;
    padding: 0px
}

/*--------------------------------------------------------------*/
/*Main*/

.contenitore_main{
    display: flex;

    position: relative;
    /*DEBUG*/
    background-color: #2f3b50;
}

.contenuto_main{
    display: flex;
    flex-direction: column;

    background-color: #141922;
    width: 100%;
}

.contenuto{
    padding-top: 100px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    background-color: #141922;
}

.contenuto nav{
    margin: 10px 40px;
    display: flex;
    justify-content: center;
}

.contenuto nav li{
    margin: 20px 10px;
}

.banner{
    display: flex;
    justify-content: end;
    align-items: center;

    width: calc(100vw - 181px);
    position: fixed;
    height: 70px;
    background-color: rgba(020, 025, 034, 0.5);
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;

    cursor: pointer;
    width: calc((100%/6) - 30px);
    margin: 10px 1px 10px 20px;
}


.circle{
    border-radius: 100px;
}

figure img{
    max-width:100%
}

figcaption{
    text-align: center;
    padding: 10px 0px;
    line-height: 20px;
}

.contenuto_over{
    display: flex;
    flex-wrap: wrap;
}

/*--------------------------------------------------------------*/
/*Footer*/

footer{
    position: fixed;
    right: 0%;
    left: 0%;
    height: 70px;
    background-color: #282828;
}

.contenitore_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 10px;

}

.contenitore_footer div img{
    margin: 15px;
    width: 40px;
}

.contenitore_footer div h5{
    margin: 0%;
}
.contenitore_footer div i{
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    padding-top: 10px;

}

.player{
    width: 200px;
    border-radius: 20px;
    height: 3px;
    background-color: rgb(115, 115, 115);
    margin: 10px;
}

.flex_grow{
    flex-grow: 1;
    flex-shrink: 0;
}

.small{
    width: 60px;
    margin: 0 10px;
}

.relative{
    display: flex;
    justify-content: center;

    position: relative;

}

.green{
    width: 114px;
    background-color: rgb(155, 155, 155);
    position: absolute;
    transform: translate(-43px, 0px);
}

.green_small {
    width: 30px;
    background-color: rgb(155, 155, 155);
    position: absolute;
    transform: translate(75px, 0px);
}

.center{
    text-align: center;
}

/*--------------------------------------------------------------*/
/*Responsive*/

/*Tablet*/

@media screen and (min-width:877px) and (max-width:1920px){
    
    .D_flex{
    margin-right: 10px;
}


    .contenuto nav{
    flex-wrap: wrap;
    margin: 0px 40px;
}

}

/*Smartphone 640px*/

@media screen and (min-width:640px) and (max-width:877px){

    .contenuto nav{
    flex-wrap: wrap;
    margin: 0px 40px;
    }

    .card{
    width: 206px;
    }
}

@media screen and (min-width:550px) and (max-width:640px){

    .banner{
        width: calc(100vw - 65px);
    }

    .contenuto nav{
    flex-wrap: wrap;
    margin: 0px 20px;
    }

    .barra_sx{
    width: 65px;
    }

    .poof li span,
    .poof li i,
    .installa_app div span,
    .installa_app span,
    .installa_app hr
    {
    display: none;
    }

    #logo{
    display: none;
    }

    .barra_sx div ul li img{
    width: 35px;
    margin-right: 5px 
    }

    #logo_small{
    display: block;
    width: 35px;
    margin: 8PX;
    }

   .barra_sx div ul li img {
    width: 30px;
    margin-right: 10px;
    }

    .installa_app div img,
    .installa_app i {
    width: 100%;
    }

    .barra_sx div {
    padding: 2px 6px;
    }

    .installa_app {
    margin-top: 260px;
}

}
